<section class="admin-top-panel d-flex flex-column flex-shrink-0">
  <ul class="navbar flex-row mb-auto">
    <%= side_panel_helper('nav-link link-dark', 'li',  is_admin_page: true) %>
  </ul>
</section>