<section class="admin-side-panel d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <%= admin_side_panel_helper('nav-link', 'li') %>
  </ul>
</section>
