<section class="admin-summary">
  <p>Admin Summary section</p>
  <div>Photo of the day</div>
  <div class="articles-summary">
    <div>Most popular articles Toggle</div>
    <div>Most commented articles Toggle</div>
  </div>
</section>