<article class="admin-subheader">
  <h4 class="page-title">
    <%= current_page_title %>
  </h4>
  <div class="page-action-button">
    + Add New Article
  </div>
</article>
<%= render ('admin_top_panel') %>
<%= render ('admin_side_panel') %>