<%= render ('admin/shared/admin_headers') %>
<main class="container admin-container">
  <%= render ('admin_main_articles') %>
  <%= render ('admin_breakdown') %>
  <%= render ('admin_summary') %>
</main>