<div>
  <h1>Welcome to the Sports Hub Portal</h1>
  <div>
    <h3>You are logged in as:</h3>
    <span><%= current_user.inspect %></span>
    <div><%= "You\'re an admin, #{current_user.first_name}" if current_user&.is_admin? %></div>
    <div>
      <h4>All Users</h4>
      <% for user in @users %>
        <div>
          <p><%= "#{ user.first_name } #{ user.last_name } (#{ user.role })" %></p>
          <p><%= user.email %></p>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
</div>