<div>Sort by:
  <select name="sort_by" id="sort_by", class="d-inline-block">
    <option value="1">Most popular</option>
    <option value="2">Most Recent</option>
    <option value="3">Oldest</option>
  </select>
</div>