<% add_new_article = link_to('+ Add New Article', new_admin_article_url) %>
<%= render 'admin/shared/admin_headers', page_action: add_new_article %>
<section class="admin-articles container">
  Create new article
</section>
