<% add_new_article_form_options = content_tag :div do
    content_tag(:a, 'Cancel', href:admin_articles_path, class: 'btn page-action-button') +
    content_tag(:button, 'Add', name:"commit", form:"add-article-form", class: "btn page-action-button ms-2")
   end %>
<%= render 'admin/shared/admin_headers', page_action: add_new_article_form_options %>
<section class="admin-articles container">
  <%= render 'admin/articles/add_article_form' %>
</section>