<% add_new_article_form_options = button_to "Add", admin_articles_path, class:"btn"
   # add_new_article_form_options.push link_to "Cancel", admin_articles_path, class: 'btn'
 %>
<%= render 'admin/shared/admin_headers', page_action: add_new_article_form_options %>
<section class="admin-articles container">
  <%= render 'admin/articles/add_article_form' %>
</section>