<section>
  <%= link_to("#{articles_path}/#{@category.slug}") do %>
    <i class="fa-solid fa-eye"></i> Preview
  <% end %>
  <a href="#"><i class="fa-solid fa-search"></i></a>
</section>
<section>

  <div>All Subcategories</div>
  <div>All Teams</div>
  <div>All</div>
</section>
<section class="sortable-items">
  <%= render partial: 'admin/articles/article_preview', collection: @articles %>
</section>
