<section>
  <%= link_to "Preview", '' %>
  <a href="#"><i class="fa-solid fa-search"></i></a>
</section>
<section>
  <div>All Subcategories</div>
  <div>All Teams</div>
  <div>All</div>
</section>
<section class="sortable-items">
  <% @articles.each do |article| %>
    <%= article.title %>
  <% end %>
</section>
