<%= form_for Newsletter.new do |form| %>
  <div class="d-flex flex-row">
    <div>
      <%= form.email_field :email, class: 'form-control', placeholder:'Your email address', required: true, value: current_user.present? ? current_user.email : ''  %>
      <%= form.hidden_field :name, {value: current_user.present? ? current_user.name : 'name'} %>
    </div>
    <div>
      <%= form.submit 'Subscribe', class: 'btn' %>
    </div>
  </div>
<% end %>