<%= form_for Newsletter.new do |f| %>
  <div class="col-md-12" style="margin: 0 auto; padding: 0;">
    <div class="col-md-6" style="padding: 0;">
      <%= f.email_field :email, class: 'form-control', placeholder:'Email', required: true, value: current_user.present? ? current_user.email : ''  %>
      <%= f.hidden_field :name, {value: current_user.present? ? current_user.name : 'test name'} %>
    </div>
  </div>
  <div class="col-md-12" style="margin: 0 auto; padding:0;">
    <%= f.submit 'Subscribe', class:"col-md-12 tran3s s-color-bg hvr-shutter-out-horizontal", style:'border: none; color: white; cursor: pointer; margin: 0.5em auto; padding: 0.75em; width: 100%;' %>
  </div>
<% end %>