<section class="home-section breakdown">
  <span class="section-title">Breakdown</span>
    <% @breakdown_articles.each do |article| %>
      <%= render 'pages/home/preview_breakdown', article: article %>
    <% end %>
</section>