<section class="small-card-article">
  <%= link_to article_path(article) do %>
    <%= image_tag article.picture, alt: article.picture_alt, class: 'article-picture' if article.picture.present? %>
    <article class="headline"><%= article.headline %></article>
    <article class="caption"><%= article.caption %></article>
  <% end %>
</section>