<section class="home-section summary">
  <div class="articles-summary">
    <div>
      <span class="most-title"><%= t('articles.most_popular') %></span>
      <section class="d-flex flex-column">
        <% @most_commented.each do |article| %>
          <%= render 'pages/home/small_card_breakdown', article: article %>
        <% end %>
      </section>
    </div>
    <div>
      <span class="most-title"><%= t('articles.most_commented') %></span>
      <section class="d-flex flex-column">
        <% @most_popular.each do |article| %>
          <%= render 'pages/home/small_card_breakdown', article: article %>
        <% end %>
      </section>
    </div>
  </div>
</section>