<section class="request-link-sent">
  <div class="icon">
    <%= show_svg('letter.svg') %>
  </div>
  <h2>Check your email <%= @email %></h2>
  <div>If there's Sports Hub account linked to this email address, we'll send over instructions to reset your password.</div>
</section>

