<dialog id="turbo-confirm">
  <section class="card">
    <div class="dialog-icon">
      <%= show_svg('garbage-bin.svg') %>
    </div>
    <form method="dialog">
      <h5>You are about to delete an <span class="record-type">item</span></h5>
      <p>This <span class="record-type">item</span> will be deleted from Sports Hub<br>
        Are you sure?</p>
      <div class="buttons">
        <button value="cancel">Cancel</button>
        <button value="confirm">Delete</button>
      </div>
    </form>
  </section>
</dialog>