<header class="header devise-header">
  <section class="logo header-left p-2">
    <h3><%= link_to 'Sports Hub', root_path %></h3>
  </section>
  <section class="header-middle"></section>
  <%= render 'devise/shared/header_actions' %>
</header>