<footer class="footer">
  <%= render('shared/footer_navigation') %>
  <section class="footer-bottom d-flex justify-content-between">
    <section class="logo footer-left">
      <h3><%= link_to 'Sports Hub', root_path %></h3>
    </section>
    <section class="text-end footer-right">
      <div>Copyright ©2019 Sports Hub</div>
      <div><%= link_to 'Privacy / Terms', "#{root_path}/pages/privacy_terms" %></div>
    </section>
  </section>
</footer>