<%
  require 'faker'
  image_avatar = Faker::Avatar.image
%>

<article class="user-dropdown">
  <% unless current_user.nil? %>
    <div class="user-details">
      <%= image_tag image_avatar %>
      <div>
        <h5><%= current_user.name %></h5>
        <h6><%= current_user.role %></h6>
      </div>
    </div>
  <% end %>
  <div class="nav dropdown">
    <%= login_helper 'nav-link' %>
  </div>
</article>