<header class="header">
  <section class="logo header-left p-2 bg-danger">
    <h3><%= link_to 'Sports Hub', root_path %></h3>
  </section>
  <section class="header-middle">
    <% if !@is_admin_panel  %>
      <article class="search-bar">Search</article>
      <article class="social-media">FB, TW, INS</article>
    <% end %>
  </section>
  <section class="header-right">
    <%= switch_dashboards_helper %>
    <article>
      <%= render 'shared/header_user_dropdown' %>
    </article>
    <article>
      <div class="lang">EN</div>
    </article>
  </section>
</header>