<footer class="footer">
  <%= render('footer_navigation') %>

  <section class="d-flex justify-content-between">
    <section class="logo header-left p-2">
      <h3><%= link_to 'Sports Hub', root_path %></h3>
    </section>
    <section>
      <div>Copyright ©2019 Sports Hub</div>
      <div>Privacy / Terms</div>
    </section>
  </section>
</footer>