<section class="side-panel d-flex flex-column flex-shrink-0 p-3">
  <ul class="nav flex-column mb-auto">
    <%= side_panel_helper('nav-link link-dark', 'li') %>
  </ul>
  <article class="social-media mt-5 p-1">
    <p>Follow</p>
    <div class="social-links">
      <div class="d-flex flex-row justify-content-between align-items-end">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" data-fa-transform="down-1"></i></a>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-end">
        <a href="#"><i class="fa-brands fa-google"></i></a>
        <a href="#"><i class="fa-brands fa-youtube" data-fa-transform="down-1"></i></a>
      </div>
    </div>
  </article>
</section>