<section class="summary">
  <p>Summary section</p>
  <div>Photo of the day</div>
  <div class="articles-summary">
    <div>Most popular articles</div>
    <div>Most commented articles</div>
  </div>
</section>