<main class="container user-page">
  <%= render ('pages/home/main_articles') %>
  <%= render ('pages/home/breakdown') %>
  <%= render ('pages/home/photo_of_the_day') if @photo_of_the_day.present? %>
  <%= render ('pages/home/summary') %>
</main>