<% users.each do |user| %>
<article class="table-card">
  <div class="d-flex align-items-center p-0">
    <div class="user-avatar me-2">
      <%= image_tag user.avatar if user.avatar.present?%>
    </div>
    <div class="reactive-table-title"
         data-general-info-target='card'
         data-action='click->general-info#show'
         data-show-url="<%= get_general_info_admin_users_panel_path(user) %>"
         data-toggle="tooltip"
         data-placement="bottom" title="Click to reveal the general info for this user">
    <%= user.name %></div>
  </div>
  <div class="reactive-table-status d-flex align-items-center">
    <% if user.access_locked? %>
      <div>Blocked</div>
    <% else %>
      <div class="active">Active</div>
    <% end %>
  </div>
  <div class="reactive-table-actions d-flex align-items-center">
    <%= render 'dropdown_actions', user: user, user_path: admin_users_panel_path(user) %>
  </div>
</article>
<% end %>