<% users.each do |user| %>
<article class="table-card">
  <div class="footer-page-title"><%= user.name %></div>
  <div class="footer-page-status">
    <%= turbo_frame_tag "turbo_footer_page_table" do %>
      <div>
        <%= user.access_locked? ? 'Blocked' : 'Active' %>
      </div>
    <% end %>
  </div>
  <div class="footer-page-delete">
    <%= render 'dropdown_actions', user: user, user_path: admin_users_panel_path(user) %>
  </div>
</article>
<% end %>