@import "bootstrap";

$color: #D72130;
$text-color: #101010;
$background-color: #FFFFFF;
$accent-color: #EDEDED;
$accent-color2: #B2B2B2;

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Main Header Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.header {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  align-items: center;
  border-bottom: 1px solid $accent-color;
}
.logo {
  position: relative;
  text-align: center;
  color: $background-color;
  height: 80px;

  h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a {
    color: $background-color;
    text-decoration: none;
  }
}
.header-middle {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;

  article, .social-media {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid $accent-color;
    padding-left: 30px;
  }

  p {
    color: $accent-color2;
    font-size: 20px;
    margin: 0 10px;
  }

  a {
    color: $text-color;
    margin-left: 20px;
  }
}
.header-right {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .switch-dashboards {
    width: fit-content;
    height: fit-content;
    justify-self: center;

    svg {
      max-width: 34px;
      max-height: 34px;
    }
  }

  .user-details {
    display: flex;

    .btns-no-user {
      min-width: 100px;
      color: $color;
      text-decoration: none;
      text-align: center;
      margin: 5px;
      padding: 5px;

      &:last-child {
        border: 1px solid $color;
      }

      &:hover {
        color: $background-color;
        background: $color;
      }
    }

    .btn:active, .btn:focus {
      border: none;
    }

    .user-avatar {
      width: 34px;
      height: 34px;
      border: 1px solid $accent-color2;
      margin-right: 5px;
      border-radius: 50%;
      background-color: $color;
      overflow: hidden;

      img {
        max-width: 34px;
        max-height: 34px;
        object-fit: cover;
      }
    }

    h5 {
      font-size: 14px;
      margin: 0;
    }

    h6 {
      font-size: 10px;
      color: $accent-color2;
      margin: 2px 0 0 0;
    }

    .dropdown-menu {
      margin-top: 20px !important;
      width: 90%;
      border-radius: 0;
      box-shadow: 1px 2px 7px $accent-color;

      div {
        padding: 5px 20px;
        font-size: 12px;
      }

      .user-titles {
        border-bottom: 1px solid $accent-color;

        h5 {
          font-size: 14px;
          margin: 0;
        }

        h6 {
          font-size: 10px;
          color: $accent-color2;
          margin: 0;
        }
      }

      li {
        font-size: 12px;

        a {
          display: block;
          color: $text-color;
          text-decoration: none;
          padding: 10px 25px;

          &:hover {
            color: $color;
            background: rgba(215, 33, 48, 0.11);
            cursor: pointer;
          }
        }
      }

      .login-logout {
        padding-top: 10px;
        border-top: 1px solid $accent-color;
      }
    }
  }
}



// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=
//      User Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=

.user-container {
  margin-top: 100px;
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// User Side Panel Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.side-panel {
  position: relative;
  max-width: 280px;
  color: $accent-color2;
  position: absolute;
  margin-top: 100px;
  left: 50px;

  ul.nav {
    font-weight: bold;

    a.nav-link {
      position: relative;
      color: $accent-color2 !important;
      text-transform: uppercase;
      padding: 5px;

      &.active {
        background: none;
        color: $color !important;

        &:before {
          position: absolute;
          left: -8px;
          content: '•'
        }
      }
    }
  }

  .social-media {
    font-size: 18px;
    max-width: 80px;

    .social-links {
      a {
        font-size: 22px;
        padding: 5px;
        color: $text-color;
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=
//      Admin Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=

.admin-subheader {
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 0 100px;
  border-bottom: 1px solid $accent-color;

  .page-title {
    font-weight: bold;
    font-size: 30px;
  }

  .page-action-button {
    font-size: 12px;
    padding: 10px 20px;
    background-color: $color;
    color: $background-color;
    &:hover {
      cursor: pointer;
      background-color: $background-color;
      color: $color;
      border: 1px solid $color;
    }
  }
}
// =-=-=-=-=-=-=-=-=-=-=-=-=
// Admin Top Panel Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.admin-top-panel {
  position: relative;
  color: $accent-color2;

  ul.navbar {
    font-weight: bold;
    padding: 0 10%;
    box-shadow: 1px 2px 7px $accent-color;

    li {
      display: inline !important;

      a.nav-link {
        color: $accent-color2 !important;
        text-transform: uppercase;
        padding: 5px;

        &.active {
          color: $color !important;
        }
      }
    }
  }
}

.admin-side-panel {
  position: absolute;
  padding-top: 40px;
  width: 4.5rem;
  height: 100%;
  border-right: 1px solid $accent-color;

  li {
    margin-bottom: 20px;
  }
}







