@import "bootstrap";
@import "./actiontext.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap");
@import "./dropzone.css";
@import 'style_variables.scss';

body {
  font-family: "Open Sans", Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: "Roboto", Helvetica, sans-serif !important;
}

@mixin toggleSwitchDotInColor($color-dot) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23#{$color-dot}'/%3e%3c/svg%3e");
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Main Header Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.header {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  align-items: center;
  border-bottom: 1px solid $accent-color-light-grey;
}

.logo {
  position: relative;
  height: 80px;
  text-align: center;
  color: $background-color;
  background-color: $color;

  h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 22px;
  }

  a {
    color: $background-color;
    text-decoration: none;
  }
}

.header-middle {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;

  article,
  .social-media {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid $accent-color-light-grey;
    padding-left: 30px;
  }

  p {
    color: $accent-color-grey;
    font-size: 20px;
    margin: 0 10px;
  }

  a {
    color: $text-color;
    margin-left: 20px;
  }
}

.header-right {
  display: grid;
  grid-template-columns: 2fr 1fr;

  article:first-of-type {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .user-details {
    display: flex;

    .switch-dashboards {
      width: fit-content;
      height: fit-content;
      justify-self: center;

      svg {
        max-width: 34px;
        max-height: 34px;
      }
    }

    .btns-no-user {
      min-width: 100px;
      color: $color;
      text-decoration: none;
      text-align: center;
      margin: 5px;
      padding: 5px;

      &:last-child {
        border: 1px solid $color;
      }

      &:hover {
        color: $background-color;
        background: $color;
      }
    }

    .btn:active,
    .btn:focus {
      border: none;
    }


    h5 {
      font-size: 14px;
      margin: 0;
    }

    h6 {
      font-size: 10px;
      color: $accent-color-grey;
      margin: 2px 0 0 0;
    }

    .header-dropdown-menu {
      width: 90%;
      border-radius: 0;
      box-shadow: 1px 2px 7px $accent-color-light-grey;

      div {
        padding: 5px 20px;
        font-size: 12px;
      }

      .user-titles {
        border-bottom: 1px solid $accent-color-light-grey;

        h5 {
          font-size: 14px;
          margin: 0;
        }

        h6 {
          font-size: 10px;
          color: $accent-color-grey;
          margin: 0;
        }
      }

      li {
        font-size: 12px;

        a {
          display: block;
          color: $text-color;
          text-decoration: none;
          padding: 10px 20px;

          &:hover {
            color: $color;
            background: rgba(215, 33, 48, 0.11);
            cursor: pointer;
          }
        }
      }

      .login-logout {
        padding-top: 10px;
        border-top: 1px solid $accent-color-light-grey;
      }
    }
  }

  .lang {
    text-align: center;
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Main Footer Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  .footer-bottom {
    height: 80px;
    color: $background-color;
    background-color: $color;

    .footer-left {
      position: relative;
      width: 18%;
        h3 {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 22px;
        }
    }
    .footer-right {
      font-size: 12px;
      padding-top: 24px;
      padding-right: 55px;
    }
  }

  .subfooter {
    position: relative;
    border-top: 1px solid $accent-color-grey;
    margin-left: 19%;
    padding: 50px 0;

    .footer-links {
      width: 950px;

      h6 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 12px;
          color: $accent-color-grey;
          margin-bottom: 10px;
        }
      }

      .new_newsletter {
        margin-top: 5px;

        input {
          border-radius: 0;
        }

        .btn {
          min-width: 100px;
          text-decoration: none;
          text-align: center;
          color: $background-color;
          background: $color;

          &:hover {
            color: $color;
            background: $background-color;
          }
        }
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=
//      User Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=

.user-container {
  margin-top: 100px;
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// User Side Panel Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.side-panel {
  position: relative;
  max-width: 280px;
  color: $accent-color-grey;
  position: absolute;
  margin-top: 100px;
  left: 50px;

  ul.nav {
    font-weight: 700;

    a.nav-link {
      position: relative;
      color: $accent-color-grey !important;
      text-transform: uppercase;
      padding: 5px;

      &.active {
        background: none;
        color: $color !important;

        &:before {
          position: absolute;
          left: -8px;
          content: "•";
        }
      }
    }
  }

  .social-media {
    font-size: 18px;
    max-width: 80px;

    .social-links {
      a {
        font-size: 22px;
        padding: 5px;
        color: $text-color;
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// User Side Panel Articles Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.article-container {
  margin-top: 125px;
  position: relative;
  max-width: 1060px;

  .articles-background-titles {
    width: 100%;
    position: absolute;
    top: 25px;
    font-size: 140px;
    font-family: "Roboto Condensed";
    color: $accent-color-light-grey;
    text-transform: uppercase;
    z-index: -1;

    div {
      position: absolute;
      transform: rotate(90deg);
    }
    .article-category-title {
      left: -120px;
    }

    .article-news {
      top: 420px;
      right: -50px;
    }
  }

  .breadcrumb {
    position: absolute;
    top: -45px;
    color: $color;

    .article-category {
      font-weight: 700;
      color: $accent-color-grey;
    }
  }

  .article-summary {
    width: 420px;
    position: absolute;
    top: 85px;
    right: 0;
    padding: 30px;
    background-color: $accent-color-light-grey;

    .published-at,
    .share-links > a {
      margin-bottom: 20px;
      font-family: "Roboto";
      color: $accent-color-grey;
      text-decoration: none;
    }

    .headline {
      margin-bottom: 10px;
      font-size: 16px;
      color: $color;
    }

    .caption {
      margin-bottom: 42px;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  .article-main {
    max-width: 820px;

    section,
    img {
      margin-bottom: 42px;
    }

    .article-picture {
      max-width: 100%;
    }

    .article-comments {
      background-color: $accent-color-offwhite-grey;
      padding: 20px;

      .comments-header {
        .comment-count {
          font-weight: 700;
          font-size: 14px;
          text-transform: uppercase;
        }

        .comments-sort-by {
          font-size: 12px;
          color: $color;
          font-weight: 700;

          select {
            color: $color;
            font-weight: 700;
            border: 0;
            background: transparent;
          }
        }
      }

      .comments-inner {
        position: relative;
        margin-top: 20px;
        background-color: $background-color;
        border: 1px solid $accent-color-light-grey;

        .user-avatar {
          position: absolute;
          top: 15px;
          left: 20px;
        }

        .comment-form {
          margin: 10px 0 0 0 !important;

          form {
            height: 64px;
            display: flex;
            padding: 0 40px 0 70px;
            border-bottom: 1px solid $accent-color-light-grey;

            input {
              font-size: 12px;
              border: none;
              color: $accent-color-dark-grey;

              &[type=text]::placeholder {
                color: $accent-color-grey;
              }
            }
          }

          &.edit-form {
            form {
              padding: 0;
              border-bottom: none;

              input {
                font-size: 14px;
                color: initial;
              }
            }
          }
        }

        .comments-list {
          padding: 0 50px 0 80px;

          .comment {
            position: relative;
            margin-top: 20px;
            font-size: 12px;

            .comment-author {
              font-size: 16px;
              font-weight: 700;

              .user-avatar {
                top: 0;
                left: -60px;
              }
            }

            .comment-details {
              .comment-date {
                font-weight: 700;
                color: $accent-color-grey;
              }
              .comment-edited-label {
                margin-left: 5px;
                color: $accent-color-grey;
              }
            }

            .comment-content {
              padding: 10px 0;
              font-size: 14px;
              border-bottom: 1px solid $accent-color-light-grey;
            }

            .comment-footer {
              margin: 5px 0;
              color: $accent-color-dark-grey;

              .footer-inner {
                max-height: 25px;

                .comment-likes-dislikes {
                  div {
                    margin-right: 20px;

                    button {
                      position: relative;
                      padding: 0;
                      color: $accent-color-dark-grey;

                      &:hover {
                        cursor: pointer;
                      }
                    }

                    &.comment-likes {
                      button {
                        top: -2px;
                      }
                    }
                  }
                }

                .comment-actions {
                  div {
                    margin-left: 10px;
                    a {
                      text-decoration: none;
                      color: inherit;
                    }
                  }
                }
              }

              .comment-form {
                display: none;
                position: relative;

                .user-avatar {
                  left: 0;
                }

                form {
                  padding: 0 0 0 50px;
                }

                &.active {
                  display: block;
                }
              }
            }

            .subcomments {
              margin-left: 60px;
            }
          }
        }
      }

      .show-more {
        width: fit-content;
        margin: 20px auto 5px auto;
        right: 0;
        left: 0;
        font-size: 12px;
        color: $accent-color-grey;

        svg {
          display: block;
          margin: auto;
          right: 0;
          left: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .article-more {
      border-top: 1px solid $accent-color-grey;
      position: relative;

      .more-articles-title {
        position: absolute;
        width: fit-content;
        top: -22px;
        margin: auto;
        left: 0;
        right: 0;

        padding: 10px 20px;
        border: 1px solid $accent-color-grey;
        background-color: $background-color;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        font-family: "Open Sans";
      }

      .more-articles-inner {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 36px;

        .article-small {
          display: grid;
          grid-template-columns: 3fr 4fr;
          border: 1px solid $accent-color-light-grey;

          .article-small-preview-image {
            img {
              margin-bottom: 0;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .article-small-preview-content {
            padding: 20px 15px;

            div {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .article-small-headline {
              -webkit-line-clamp: 1;
              font-size: 16px;
              font-weight: 700;
            }

            .article-small-caption {
              margin-top: 5px;
              color: $accent-color-dark-grey;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=
//      Admin Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=

.admin-subheader {
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 0 100px;
  border-bottom: 1px solid $accent-color-light-grey;
  font-weight: 700 !important;

  .page-title {
    font-weight: bold;
    font-size: 30px;
  }

  .page-action-button {
    min-width: 100px;
    font-size: 12px;
    padding: 10px 20px;
    background-color: $color;
    color: $background-color;
    text-decoration: none;
    border-radius: 0;

    a,
    button {
      font-size: inherit;
      color: inherit;
      text-decoration: inherit;
    }

    &:hover {
      cursor: pointer;
      background-color: $background-color;
      color: $color;
      border: 1px solid $color;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }

    &.secondary {
      color: $color;
      background-color: $background-color;
    }
  }
}
// =-=-=-=-=-=-=-=-=-=-=-=-=
// Admin Top Panel Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.admin-top-panel {
  position: relative;
  color: $accent-color-grey;

  ul.navbar {
    font-weight: bold;
    padding: 0 10%;
    box-shadow: 1px 2px 7px $accent-color-light-grey;

    li {
      display: inline !important;

      a.nav-link {
        color: $accent-color-grey !important;
        text-transform: uppercase;
        padding: 5px;

        &.active {
          color: $color !important;
        }
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Admin Side Panel Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.admin-side-panel {
  position: absolute;
  padding-top: 40px;
  width: 4.5rem;
  height: 100%;
  border-right: 1px solid $accent-color-light-grey;

  li {
    margin-bottom: 20px;

    a.active {
      svg {
        rect {
          stroke: $color !important;
        }
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Admin Side Panel Articles Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.admin-articles {
  max-width: 870px;
  margin-top: 48px;
  padding-bottom: 48px;

  .articles-actions {
    max-width: 790px;
    margin: auto;
    a {
      text-decoration: none;
      color: $accent-color-grey;
    }
  }

  .preview-btn {
    color: $color !important;
    text-decoration: none;
    svg {
      margin-right: 5px;
    }
  }

  .articles-filters {
    max-width: 790px;
    margin: auto;
    margin-top: 48px;

    .dropdown,
    .dropdown-filter {
      min-width: 210px;
      padding: 0 10px;
      border-radius: 0;
      border: 1px solid $accent-color-grey;

      //Todo: temporary style for the temporary dropdown
      .dropdown-toggle::after {
        position: absolute;
        right: 8px;
        top: 16px;
      }
    }
  }

  .articles-list {
    margin-top: 48px;

    .no-articles {
      margin: auto;
    }

    .article {
      position: relative;
      display: grid;
      grid-template-columns: minmax(280px, 1fr) 2fr;
      padding: 25px;

      .actions-dropdown {
        position: absolute;
        right: 0;
        top: -2px;
        color: $color;
        display: none;
        .dropdown-menu {
          top: -40px !important;

          .second-actions {
            top: -2px;
            height: 20px;
          }
        }
      }

      .article-text {
        margin-left: 32px;
        font-size: 14px;
        color: $accent-color-grey;

        .article-headline {
          font-size: 16px;
          font-weight: bold;
          color: $text-color;
          margin-bottom: 22px;
        }

        .article-caption {
          margin-bottom: 22px;
        }

        .article-footer {
          .status-icon {
            text-transform: capitalize;
            &:before {
              width: 8px;
              height: 8px;
              background-color: green;
              border-radius: 50%;
              content: "";
              display: inline-block;
              margin-right: 6px;
            }

            &.unpublished {
              &:before {
                background-color: $color;
              }
            }
          }
        }
      }

      img {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px 2px 5px $accent-color-grey;
        .actions-dropdown {
          display: block;
        }
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  #article-form {
    label {
      margin: 20px 0 7px 0;
      font-size: 10px;
      text-transform: uppercase;
      color: $accent-color-dark-grey;
    }
    .dropzone {
      position: relative;
      min-height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .existing-image {
        position: absolute;
        width: 100%;
      }

      #article_picture {
        display: none;
      }

      .dropzone-msg {
        .camera-icon {
          width: 64px;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          background-color: $color;
          border-radius: 50%;

          svg {
            fill: $background-color;
          }
        }

        .dropzone-msg-desc {
          margin-top: 28px;
          font-size: 14px;
          font-family: "Open Sans";

          .emphasized {
            color: $color;
          }
        }
      }

      &:hover {
        .existing-image {
          z-index: -1;
          filter: opacity(0.2);
        }
      }
    }

    input,
    textarea {
      border-radius: 0;
    }

    input::placeholder,
    select,
    textarea::placeholder {
      font-size: 12px;
      color: $accent-color-grey;
    }

    .dropdown-menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .dropdown {
        display: block;
        min-width: 250px;
        padding: 8px;
      }

      select::selection {
        background-color: $color;
      }
    }

    .form-check-comments {
      .form-check-label {
        margin-top: 0 !important;
        color: $color;
        text-transform: initial;
      }

      .form-check-input {
        margin-top: 6px !important;
        border-radius: 20px;

        &:checked {
          background-color: $background-color;
          border-color: $accent-color-grey;
          @include toggleSwitchDotInColor("D72130");
        }

        &:focus {
          border-color: $color;
          box-shadow: 0 0 0 0.25rem rgba($color, 0.25);
          @include toggleSwitchDotInColor("EB9097");
        }
      }
    }
  }

  .edit-container {
    .preview-btn {
      right: 0;
    }
  }
}

.information-architecture {
  .sortable-items {
    color: $accent-color-grey;
    margin-top: 50px;
    display: flex;

    .col {
      max-width: 200px;
      margin-right: 50px;
      text-align: center;

      .list {
        list-style: none;
        padding: 0;
        .col-item,
        .col-add-item {
          margin-bottom: 16px;
          padding: 6px;
          cursor: grab;
          border: 1.5px solid $accent-color-light-grey;

          &:active {
            cursor: grabbing;
            box-shadow: 1px 2px 5px $accent-color-light-grey;

            .handle-icon {
              opacity: 1;
            }
          }
        }

        .col-item {
          display: grid;
          grid-template-columns: 35px 4fr 35px;
          align-items: center;
          justify-content: center;

          .handle-icon {
            opacity: 0;
          }
        }

        &.col-categories {
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .col-add-item {
        margin-bottom: 16px;
        padding: 6px;
        cursor: pointer;
        border: 1.5px dashed $accent-color-light-grey;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
      .parent-not-selected-message {
        text-transform: initial;
      }
    }
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Admin Side Panel Common Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.actions-dropdown {
  .dropdown-menu {
    position: absolute;
    top: -48px !important;
    left: -1px !important;

    .second-actions {
      position: relative;
      padding-left: 12px;
      top: 5px;
      height: 42px;

      svg {
        circle {
          fill: $color;
        }
      }
    }

    .dropdown-item {
      display: block;
      color: $text-color;
      text-decoration: none;
      padding: 12px 20px;
      text-transform: initial;

      a {
        display: block;
        text-decoration: none;
        color: $text-color;
      }

      &:hover {
        color: $color;
        background: rgba(215, 33, 48, 0.11);
        cursor: pointer;
        a {
          color: $color;
        }
      }
    }
  }
}

.popup-add-item,
#turbo-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: inherit;
  max-height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  z-index: 999;

  .card {
    position: absolute;
    width: 460px;
    height: 260px;
    border-radius: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h5 {
      position: relative;
      margin-top: 42px;
      font-size: 24px;
      color: $text-color;
      text-align: center;
    }

    form {
      width: 350px;
      position: relative;
      margin: auto;
      left: 0;
      right: 0;
      text-align: left;

      label {
        color: $accent-color-grey;
        font-weight: bold;
      }

      input {
        border-radius: 0;
      }

      ::placeholder {
        opacity: 0.5;
      }

      .buttons {
        margin-top: 24px;
        text-decoration: none;
        text-align: right;

        input,
        button {
          min-width: 100px;
        }

        input:first-child,
        button:first-child {
          background: $background-color;
          border: none;
          color: $color;
        }

        input:last-child,
        button:last-child {
          color: $background-color;
          background: $color;
          border: 1px solid $color;

          &:hover {
            color: $color;
            background: $background-color;
          }
        }

        input:hover,
        button:hover {
          color: $background-color;
          background: $color;
        }
      }

      .btn:active,
      .btn:focus {
        border: none;
      }
    }
  }

  &:before {
    background-color: red;
    filter: blur(10px);
  }

  &#turbo-confirm {
    .card {
      .dialog-icon {
        position: absolute;
        top: -40px;
        width: 80px;
        height: 80px;
        margin: auto;
        right: 0;
        left: 0;
        border-radius: 50%;
        background-color: $color;
        color: $background-color;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      h5,
      p {
        font-family: "Open Sans";
        font-size: 14px;
        text-align: center;
      }
      h5 {
        margin-bottom: 12px;
        font-weight: 700;
      }

      form {
        .buttons {
          font-size: 12px;
          button {
            min-height: 32px;
          }
        }
      }
    }
  }
}

.search-mini-bar {
  height: 36px;

  #collapseSearch {
    position: relative;
    top: -4px;
    margin-left: 10px;
    overflow: hidden;
  }

  .remove-selection {
    position: absolute;
    top: 5px;
    right: 10ch;
  }

  input#search {
    padding-left: 10px;
  }

  input::placeholder {
    font-size: 12px;
    color: $accent-color-grey;
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// User Side Panel Common Styling
// =-=-=-=-=-=-=-=-=-=-=-=-=
.user-avatar {
  width: 34px;
  height: 34px;
  border: 1px solid $accent-color-grey;
  margin-right: 5px;
  border-radius: 50%;
  background-color: $accent-color-offwhite-grey;
  overflow: hidden;

  img {
    max-width: 34px;
    max-height: 34px;
    object-fit: cover;
  }
}

// =-=-=-=-=-=-=-=-=-=-=-=-=
// Common Styling Reset
// =-=-=-=-=-=-=-=-=-=-=-=-=

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}