$color: #d72130;
$text-color: #101010;
$background-color: #ffffff;
$accent-color-offwhite-grey: #f8f8f8;
$accent-color-light-grey: #ededed;
$accent-color-grey: #b2b2b2;
$accent-color-dark-grey: #7f8899;
$link-color: #4A90E2