<div class="dropdown actions-dropdown">
    <button class="btn shadow-none" type="button" data-bs-toggle="dropdown">
     <%= show_svg('actions-three-dots.svg') %>
    </button>
    <div class="dropdown-menu">
      <div class="second-actions">
        <%= show_svg('actions-three-dots.svg') %>
      </div>
      <div class="dropdown-item">Move to</div>
      <div class="dropdown-item">Hide</div>
      <%= button_to 'Delete', item_path, class: 'dropdown-item', method: :delete, form: { data: { turbo_confirm: item.class.name.downcase} }
      %>
    </div>
  </div>
